In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ormara,PK,2021-07-16 22:27:22,25.2088,64.6357,84.40,74,100,5.59
1,1,Luderitz,NaN,2021-07-16 22:24:16,-26.6481,15.1594,60.49,37,0,8.68
2,2,Punta Arenas,CL,2021-07-16 22:15:21,-53.1500,-70.9167,33.91,93,40,6.91
3,3,Busselton,AU,2021-07-16 22:21:03,-33.6500,115.3333,47.05,78,100,2.06
4,4,Lebu,CL,2021-07-16 22:27:23,-37.6167,-73.6500,48.22,71,10,13.58

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, 
                                max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind spped
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ormara,PK,2021-07-16 22:27:22,25.2088,64.6357,84.40,74,100,5.59
5,5,Atuona,PF,2021-07-16 22:23:10,-9.8000,-139.0333,78.12,73,38,22.03
6,6,Ganzhou,CN,2021-07-16 22:27:23,28.8184,115.4327,79.02,85,100,3.51
8,8,Iracoubo,GF,2021-07-16 22:27:33,5.4802,-53.2011,78.24,80,67,5.91
14,14,Albany,US,2021-07-16 22:18:08,42.6001,-73.9662,83.91,61,78,1.01
21,21,Banda Aceh,ID,2021-07-16 22:25:26,5.5577,95.3222,78.01,85,11,6.55
28,28,Bafoulabe,ML,2021-07-16 22:28:20,13.8065,-10.8321,82.63,74,75,5.17
29,29,Kapaa,US,2021-07-16 22:14:43,22.0752,-159.3190,84.52,77,40,4.00
34,34,Victoria,HK,2021-07-16 22:28:00,22.2855,114.1577,83.32,90,100,3.00
38,38,Khipro,PK,2021-07-16 22:28:33,25.8285,69.3772,88.90,67,83,6.24

In [18]:
preferred_cities_df.count()

City_ID       179
City          179
Country       179
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Ormara      PK     84.40  25.2088   64.6357
5       Atuona      PF     78.12  -9.8000 -139.0333
6      Ganzhou      CN     79.02  28.8184  115.4327
8     Iracoubo      GF     78.24   5.4802  -53.2011
14      Albany      US     83.91  42.6001  -73.9662
21  Banda Aceh      ID     78.01   5.5577   95.3222
28   Bafoulabe      ML     82.63  13.8065  -10.8321
29       Kapaa      US     84.52  22.0752 -159.3190
34    Victoria      HK     83.32  22.2855  114.1577
38      Khipro      PK     88.90  25.8285   69.3772

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Ormara,PK,84.40,25.2088,64.6357,Crystal Beach and Camping Resort Ormara
5,Atuona,PF,78.12,-9.8000,-139.0333,Villa Enata
6,Ganzhou,CN,79.02,28.8184,115.4327,Laotou Farm Restaurant Hostel
8,Iracoubo,GF,78.24,5.4802,-53.2011,Le Gîte d’Iracoubo
14,Albany,US,83.91,42.6001,-73.9662,
21,Banda Aceh,ID,78.01,5.5577,95.3222,Sulthan Hotel International
28,Bafoulabe,ML,82.63,13.8065,-10.8321,
29,Kapaa,US,84.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
34,Victoria,HK,83.32,22.2855,114.1577,Mini Hotel Central
38,Khipro,PK,88.90,25.8285,69.3772,Mukesh Bhojraj Khatri Graphix Khipro

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))